﻿
@{
    
}
<head>
    <link rel="stylesheet" href="~/css/EstiloCrearCuenta.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <title>Crear Cuenta</title>
</head>
<body>
    <header>
        <div id="Cabecera">
            <a id="logo-marca" href="/#">
                T3
            </a>
            <!--<a id="Option" href="/#">Cursos</a>-->
        </div>
    </header>
    <div id="contiene-crearCuenta">
        <h1>Crea tu Cuenta</h1>
        <form action="/Auth/CrearCuenta" method="post">
            <p>Nombre de usuario</p>
            <input class="input" type="text" placeholder="Ingresa aquí tu nombre de usuario" name="username" required />
            <p>Contraseña</p>
            <input class="input" type="password" name="password" required /><br />
            <button class="button is-link">Crear cuenta</button>
            <a href="/#" class="button is-link is-light" type="reset" style="top: 40px; position: relative;">Cancel</a>
        </form>
    </div>
</body>