﻿@{
    
}

<head>
    <link rel="stylesheet" href="/css/EstilosLogin.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <title>Login</title>
</head>
<body>
    <div id="Cabecera">
        <a id="logo-marca" href="/#">
            T3
        </a>
        <!--<a id="Option" href="/#">Cursos</a>-->
    </div>

    <div id="Login">
        <h1>Iniciar Sesión</h1>
        <form action="/Auth/Login" method="post">
            <p>Usuario</p>
            <input class="input" type="text" name="username" placeholder="tu nombre de usuario" required />
            <p>Contraseña</p>
            <input class="input" type="password" name="password" required /><br />
            <button id="insesion" class="button is-link">Iniciar sesión</button>
            <a href="/#" class="button is-link is-light" style="top: 20px; position: relative;">Cancelar</a>
            <a href="/Auth/CrearCuenta" class="button is-link is-light">Crear Cuenta</a>
        </form>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</body>


