﻿<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

    <div>
        <p>Ejercicios del la rutina</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Duración</th>
                    <th scope="col">Link del Video</th>
                </tr>
            </thead>
            <tbody>
                @{ int contador = 0;}
                @foreach (var ej in Model)
                {
                    contador++;
                    <tr>
                        <th scope="row">@contador</th>
                        <td>@ej.NombreEjercicio</td>
                        <td> @ej.TiempoEjercicio</td>
                        <td><a href="@ej.LinkVideo">@ej.LinkVideo</a></td>
                    </tr>
                }
            </tbody>
        </table>

</div>
    <br />
    <hr />
    <div>
        <a href="https://localhost:44396/Ejercicios/muestraRutinas" class="btn btn-warning">Ver Rutinas</a>
    </div>
    <br />
    <br />
    <hr />


</body>
</html>
<script type="text/javascript">
    //$('.Nivel').val('Principiante');
    $(document).ready(function () {

        var tp
        $('#OpcionesRutinas').on('change', function () {
            tp = $(this).val();
            //alert(tp);
            $('.Nivel').val(tp)
        })
    })
</script>
