﻿<html>
<head>

</head>
<body>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Duración</th>
                    <th scope="col">Link del Video</th>
                </tr>
            </thead>
            <tbody>
                @{int contador = 0;}
                @foreach (ListaEjercicios ejercicio in Model)
                {
                    contador++;
                    <tr>
                        <th scope="row">@contador</th>
                        <td>@ejercicio.NombreEjercicio</td>
                        <td> @ejercicio.Tiempo</td>
                        <td><a href="@ejercicio.LinkVideo">@ejercicio.LinkVideo</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <hr />
    <div>
        <a href="https://localhost:44396/Ejercicios/muestraRutinas" class="btn btn-dark">Volver</a>
    </div>
</body>
</html>