﻿<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div>
        <a class="btn btn-dark" href="/Ejercicios/registraRutinaForm">Crear Rutinas</a>
    </div>
    <br />

    <div id="ListaRutinas">
        @foreach (var rutinas in Model.listaRutinas)
        {
            <div class="list-group">
                <a class="list-group-item" href="/Ejercicios/ListaEjerciciosRutina?id=@rutinas.Id">@rutinas.Nombre</a><br />
            </div>
        }
        </div>
</body>
</html>
<script>
    var rutin;
    var listaE;
    $(document).ready(function () {

        $("#rutina").on('click', function () {
            rutin = $(this).val();
        })
        listaE = @Model.ListaEjercicios

    })
    $('#listaE #ejercicio').each(function (indice, elemento) {

        console.log('El elemento con el índice ' + indice + ' contiene ' + $(elemento).text());
    });
</script>

    
   
