﻿<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div>
        <form asp-controller="Ejercicios" asp-action="registrarRutina" method="post">
            <label class="form-label"><b>Nombre de la rutina</b> </label>
            <input type="text" class="form-control" name="nombre" placeholder="Nombre de la Rutina" value="Nueva Rutina" />
            <label class="form-label"><b>Nivel</b> </label>
            <input type="hidden" class="Nivel" name="Nivel" />
            <select class="form-select" id="OpcionesRutinas" >
                <option value="Principiante">Principiante</option>
                <option value="Intermedio">Intermedio</option>
                <option value="Avanzado">Avanzado</option>
            </select>
            <br />
            <input type="submit" class="btn btn-dark" value="Guardar" />
        </form>
        </div>
</body>
</html>
<script type="text/javascript">
    $('.Nivel').val('Principiante');

    $(document).ready(function () {

        var tp
        $('#OpcionesRutinas').on('change', function () {
            tp = $(this).val();
            $('.Nivel').val(tp)
        })
    })
</script>
